* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    color: black;
    font-family: 'Inter';
}

body {
    font-size: 1.5rem;

}

:root {
    --primary: #d115d1;
    --hover: #d115d1;
    --altura-main: calc(100vh - 15rem);
}

header {
    height: 11rem;

}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    font-weight: 300;
    text-align:left;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}

#titulo {
    height: 70%;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}


main {
    min-height: var(--altura-main);
    width: 70%;
    display: flex;
    align-items: center;
    text-align: justify;
    margin: 1rem;
}
ol {
    width: 90%;
    margin: auto;
    list-style-type:upper-roman;
}
ul{
    list-style-type: square;
    padding-left: 3rem;
}

/*tabela*/

main div table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

tfoot {
    font-weight: bolder;
}

tbody {
    text-align: center;
}

table tr th,
table tr td {
    border: 0.1rem solid #d115d1;;
    padding: 0.1rem;

}
footer {
    background-color: var(--primary);
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.no-center-table {
    text-align: left;
}

#center-main {
    width: 100%;
    height: 100%;
  
}

.bolder-table {
    font-weight: bolder;
}

/*FAQ*/

#faq{
    overflow: hidden;
}
#faq section a{
    color: #000;
}
#faq section{
    padding-top: 10rem;
}
#faq main{
    flex-wrap: wrap;
    height: auto;
    padding-top: 10rem;

}
#faq header{
    position: fixed;
    top:0;
    width: 100%;
}
#faq footer{
    position: fixed;
    bottom:0;
}

#faq main section.resposta-faq{
    width: 100%;
    height: var(--altura-main);
    padding-top: 10rem;
    
}
#faq #perguntas{
    height: var(--altura-main);
    margin-top: 0;
    width: 100%;
}
#faq #center-main{
    padding-left: 1%;
}
